{% extends 'WebProfilerBundle:Profiler:layout.html.twig' %}


{% block toolbar %}
    {% set success = true %}
    {% set good = 0 %}
    {% set bad = 0 %}
    {% for key,row in collector.data %}
        {% if row.status == 'fail' %}
            {% set success = false %}
            {% set bad = bad + 1 %}
        {% else %}
            {% set good = good + 1 %}
        {% endif %}
    {% endfor %}
    {% set icon %}
        <img width="23" height="28" alt="Short Messages"
             src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACoAAAAeCAYAAABaKIzgAAAABGdBTUEAALGOfPtRkwAAACBjSFJNAAB6JQAAgIMAAPn/AACA6QAAdTAAAOpgAAA6mAAAF2+SX8VGAAAACXBIWXMAAAsSAAALEgHS3X78AAAAGHRFWHRTb2Z0d2FyZQBwYWludC5uZXQgNC4wLjOM5pdQAAABvElEQVRYR+3Xv0sCYRzHcU/vPMU7RAfbbYmmftAQtRRtDa39Ga0t/QENjdF/EEEQBFFruBbU6hYEDVkUZWVq9f5CBw/Hk5X6eBZ+4YXHfTU/Pr/oYv+pPIxjypAROOiosijhDe+GvGIDFtquCZgMGajARdslU6P7w912j0HQ7zTS6fRKMpnc0fTCoh3ReDx+lc1mJ3m90fUVZoMmEolrRkxOhWa4F0ilUmuu667regqzQQm5ncvlpi3LetT1BT/mnFGd57oe7inMBiVgnWm91fUCvKeSz+dHuX4K9xS9W6O2bR96njeLmUwmM0fAstxnRGuFQqHI60P4M4qebqYaZHQDDUjQKlNfbLU80NOgWiyNS4KOcf0c7inMBnUcZ/dzM1V1fcGIHrMclrj+8mSA2aCMVpmdvyWbStfnfpP1uszxtK/rK6Kdekaz5Pv+IoFfdH1FdEFlNBntI1mjun5I9Jvph/5M0Dt0FHQYrY6VbjmDjbYrjlXI1Oi+oBsusICulDzP/IY8rG1CfYyRxw25H35v5JXCHoKwErSj6TVZPg7Q90GlhnCCvg8qJafHKfo+qJT88yynyKD6oGKxD/dgDJY6o7ruAAAAAElFTkSuQmCC"/>
        <span
                class="sf-toolbar-status
                {% if collector.data | length %}
                {% if not success %}sf-toolbar-status-red{% else %}sf-toolbar-status-green{% endif %}
                {% endif %}">
            {{ collector.data | length }}
        </span>
    {% endset %}

    {% set text %}
        <div class="sf-toolbar-info-piece">
            <b>Total</b> <span>{{ collector.data | length }}</span><br/>
        </div>
        {% if bad > 0 %}
            <div class="sf-toolbar-info-piece">
                <b>Succeeded</b> <span>{{ good }}</span>
            </div>
            <div class="sf-toolbar-info-piece">
                <b>Failed</b> <span>{{ bad }}</span>
            </div>
        {% endif %}
    {% endset %}

    {% include 'WebProfilerBundle:Profiler:toolbar_item.html.twig' with {'link':profiler_url} %}
    {# the web debug toolbar content #}
{% endblock %}

{% block head %}
    {{ parent() }}
    {# if the web profiler panel needs some specific JS or CSS files #}
{% endblock %}

{% block menu %}
    {% set success = true %}
    {% for key,row in collector.data %}
        {% if row.status == 'fail' %}
            {% set success = false %}
        {% endif %}
    {% endfor %}
    <span class="label">
        <span class="icon">
            <img alt="Short messages"
                 src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACoAAAAeCAYAAABaKIzgAAAABGdBTUEAALGOfPtRkwAAACBjSFJNAAB6JQAAgIMAAPn/AACA6QAAdTAAAOpgAAA6mAAAF2+SX8VGAAAACXBIWXMAAAsSAAALEgHS3X78AAAAGHRFWHRTb2Z0d2FyZQBwYWludC5uZXQgNC4wLjOM5pdQAAABvElEQVRYR+3Xv0sCYRzHcU/vPMU7RAfbbYmmftAQtRRtDa39Ga0t/QENjdF/EEEQBFFruBbU6hYEDVkUZWVq9f5CBw/Hk5X6eBZ+4YXHfTU/Pr/oYv+pPIxjypAROOiosijhDe+GvGIDFtquCZgMGajARdslU6P7w912j0HQ7zTS6fRKMpnc0fTCoh3ReDx+lc1mJ3m90fUVZoMmEolrRkxOhWa4F0ilUmuu667regqzQQm5ncvlpi3LetT1BT/mnFGd57oe7inMBiVgnWm91fUCvKeSz+dHuX4K9xS9W6O2bR96njeLmUwmM0fAstxnRGuFQqHI60P4M4qebqYaZHQDDUjQKlNfbLU80NOgWiyNS4KOcf0c7inMBnUcZ/dzM1V1fcGIHrMclrj+8mSA2aCMVpmdvyWbStfnfpP1uszxtK/rK6Kdekaz5Pv+IoFfdH1FdEFlNBntI1mjun5I9Jvph/5M0Dt0FHQYrY6VbjmDjbYrjlXI1Oi+oBsusICulDzP/IY8rG1CfYyRxw25H35v5JXCHoKwErSj6TVZPg7Q90GlhnCCvg8qJafHKfo+qJT88yynyKD6oGKxD/dgDJY6o7ruAAAAAElFTkSuQmCC"/>
        </span>
        <strong>SMS</strong>

        <span class="count {% if not success %}sf-toolbar-status-red{% endif %}">
            <span>{{ collector.data | length }}</span>
        </span>
    </span>
    {# the menu content #}
{% endblock %}

{% block panel %}
    <h2>Short Messages</h2>

    {% if not (collector.data | length) %}
        <p>
            <em>No message sent.</em>
        </p>
    {% else %}
        <table>
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Delivery Status</th>
                <th scope="col">Delivery Reason</th>
                <th scope="col">Message Recipient</th>
                <th scope="col">Message Body</th>
            </tr>
            </thead>
            <tbody>
            {% for key,package in collector.data %}
                <tr>
                    <td>{{ key }}</td>
                    <td>{{ package.status }}</td>
                    <td>{{ package.reason }}</td>
                    <td>{{ package.message.recipient }}</td>
                    <td>{{ package.message.body }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    {% endif %}
{% endblock %}
